<h1>Document Types</h1>
<%= @test %>
<br>

<%= form_for :create, method: :put, remote: true do |f| %>
  <%= f.label :name %><strong>:</strong>
  <%= f.text_field :name %>
  <%= f.submit "Add", class: "btn btn-medium", name: "add" %>
<% end %>

<br>

<%= render partial: 'document_types', locals: {document_types: @document_types} %>
