<%= form_for @document, :html => { :multipart => true } do |form| %>
    <%= form.hidden_field :user_id, value: @current_user_id %>

    <div class="field">
      <%= form.label :title %><br>
      <%= form.text_field :title %>
    </div>

    <br />

    <div class="field">
      <%= form.label :doc %><br>
      <%= form.file_field :doc %>
    </div>

    <br />

    <div class="field">
      <%= form.label :assigned_to_all %><br>
      <%= radio_button_tag('document[assigned_to_all]', 'true') %>
      <%= label_tag(:assigned_to_all_true, "I want all users to read this document") %>
      <%= radio_button_tag('document[assigned_to_all]', 'false') %>
      <%= label_tag(:assigned_to_all_false, "I want to choose specific users who will read this document") %>
    </div>

    <br />

    <div class="field">
      <h2>Select users to review the document</h2>
      <%= form.select(:reviews, @users, {prompt: 'Select any amount of users'}, { :multiple => true, :size => 20 } ) %>
      <h2>Select users to approve the document</h2>
      <%= form.select(:approvals, @users, {prompt: 'Select any amount of users'}, { :multiple => true, :size => 20 } ) %>
    </div>

    <div class="field">
      <%= form.label :document_type_id %><br>
      <%= form.select(:document_type_id, @document_types, {:multiple => true, :size => 20}) %>
    </div>

    <br />

    <div class="actions">
      <%= form.submit %>
    </div>
<% end %>
