<%= form_for @document, :html => { :multipart => true } do |form| %>
    <%= form.hidden_field :user_id, value: @current_user_id %>

    <div class="field">
      <%= form.label :title %><br>
      <%= form.text_field :title %>
    </div>

    <div class="field">
      <%= form.label :doc %><br>
      <%= form.file_field :doc %>
    </div>

    <div class="field">
      <h2>To be Reviewers</h2>
      <%= form.select(:reviews, @users, {prompt: 'Select users to review the document'}, { :multiple => true, :size => 20 } ) %>
      <h2>To be Approvals</h2>
      <%= form.select(:approvals, @users, {prompt: 'Select users to approve the document'}, { :multiple => true, :size => 20 } ) %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
<% end %>
