<%= form_for @document, :html => { :multipart => true } do |form| %>
    <%= form.hidden_field :user_id, value: @current_user_id %>

    <div class="field">
      <%= form.label :title %><br>
      <%= form.text_field :title %>
    </div>

    <div class="field">
      <%= form.label :doc %><br>
      <%= form.file_field :doc %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
<% end %>
