<h1><%= @document.title %></h1>
<p>
  <b>Created by: </b>
  <%= @user.email %>
</p>
<p>
  <b>Created at: </b>
  <%= @document.created_at %>
</p>
<p>
  <b>Updated at: </b>
  <%= @document.updated_at %>
</p>
<p>
  <b>Status: </b>
  <%= status_to_string @document.status %>
</p>
<p>
  <b>Document type: </b>
  <% if @document.document_type == nil %>
    Unspecified
  <% else %>
    <%= @document.doc %>
  <% end %>
</p>
<p>
  <b>Document file: </b>
  <% if @document.doc_file_name == nil %>
      No document file attached
  <% else %>
      <%= @document.doc %>
  <% end %>
</p>

<p>
  <h3>Reviewers:</h3>
  <% if @reviewers.empty? %>
    No users selected to review this document.
  <% else %>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>
          User
        </th>
        <th>
          Reviewed
        </th>
      </tr>
      </thead>
      <tbody>
      <% @reviewers.each do |r| %>
          <tr>
            <td>
              <%= r.email %>
            </td>
            <td>
              TODO marked as reviewed?
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  <% end %>
</p>

<p>
<h3>Approvals:</h3>
<% if @reviewers.empty? %>
    No users selected to approve this document.
<% else %>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>
          User
        </th>
        <th>
          Approved
        </th>
      </tr>
      </thead>
      <tbody>
      <% @reviewers.each do |r| %>
          <tr>
            <td>
              <%= r.email %>
            </td>
            <td>
              TODO marked as reviewed?
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% end %>
</p>

<% if @is_reviewer || @is_approver %>

    <% if @is_approver %>
        <%= form_tag 'save_role_response', method: :put do %>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#myModal">
              <% if @is_reviewer %>
                  Mark as reviewed
              <% else %>
                  Approve
              <% end %>
            </button>
            <input type="submit" class="btn btn-danger btn-lg" value="Decline document" name="decline" />
        <% end %>
    <% end %>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">
              <% if @is_reviewer %>
                  Mark as reviewed
              <% else %>
                  Approve
              <% end %>
            </h4>
          </div>
          <div class="modal-body">
            <% if @is_reviewer %>
                I have reviewed this document.
            <% else %>
                I approve this document.
            <% end %>
            <br />
            <%= form_tag 'save_role_response', method: :put do %>
                <%= label_tag(:email, "Email:") %>
                <%= text_field_tag(:email) %>
                <br />
                <%= label_tag(:password, "Password:") %>
                <%= password_field_tag(:password) %>
                <br />
                <br />
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <% if @is_reviewer %>
                      <input type="submit" class="btn btn-success" value="Mark document as reviewed" name="review" />
                  <% else %>
                      <input type="submit" class="btn btn-success" value="Approve document" name="approve" />
                  <% end %>
                </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

<% end %>