<h1><%= @document.title %></h1>
<% if @user == @document.user %>
    <%= link_to 'Edit', edit_document_path(@document.id), class:"btn btn-warning" %>
    <%= link_to 'Delete', @document, method: :delete, data: { confirm: 'Are you sure you want to delete this document?' }, class:"btn btn-danger" %>
<% end %>
<p>
  <b>Created by: </b>
  <%= @user.email %>
</p>
<p>
  <b>Created at: </b>
  <%= @document.created_at %>
</p>
<p>
  <b>Updated at: </b>
  <%= @document.updated_at %>
</p>
<p>
  <b>Status: </b>
  <%= status_to_string @document.status %>
</p>
<p>
  <b>Document type: </b>
  <% if @document.document_type == nil %>
    Unspecified
  <% else %>
    <%= @document.doc %>
  <% end %>
</p>
<p>
  <b>Document content: </b>
  <% if @document.content.blank? %>
      No document content created
  <% else %>
    <div class="well">
      <%= @document.content.html_safe %>
    </div>
  <% end %>
</p>
<p>
  <b>Document file: </b>
  <% if @document.doc_file_name == nil %>
      No document file attached
  <% else %>
      <%= @document.doc %>
  <% end %>
</p>

<p>
  <h3>Assigned to:</h3>
  <% if @document.assigned_to_all %>
      All users in the organisation have been assigned to read this document.
  <% elsif @reader_users.empty? %>
      No users selected to read this document.
  <% else %>
      <table class="table table-striped">
        <thead>
        <tr>
          <th>
            User
          </th>
        </tr>
        </thead>
        <tbody>
        <% @reader_users.each do |r| %>
            <tr>
              <td>
                <%= r[:user].email %>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
  <% end %>
</p>

<p>
  <h3>Reviewers:</h3>
  <% if @review_users.empty? %>
    No users selected to review this document.
  <% else %>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>
          User
        </th>
        <th>
          Reviewed
        </th>
      </tr>
      </thead>
      <tbody>
      <% @review_users.each do |r| %>
          <tr>
            <td>
              <%= r[:user].email %>
            </td>
            <td>
              <%= review_status_to_string r[:review].status %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  <% end %>
</p>

<p>
<h3>Approvals:</h3>
<% if @approval_users.empty? %>
    No users selected to approve this document.
<% else %>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>
          User
        </th>
        <th>
          Approved
        </th>
      </tr>
      </thead>
      <tbody>
      <% @approval_users.each do |a| %>
          <tr>
            <td>
              <%= a[:user].email %>
            </td>
            <td>
              <%= approval_status_to_string a[:approval].status %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% end %>
</p>

<% if @is_reviewer || @is_approver %>
    <%= form_tag 'save_role_response', method: :put do %>
        <%= hidden_field_tag :id, @document.id %>
        <%= hidden_field_tag :relation_id, @relation_id %>
        <!-- Button trigger modal -->
        <% if @is_reviewer %>
            <% if @review.status != 1 %>
                <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#myModal">
                      Mark as reviewed
                </button>
            <% else %>
                You have already marked this document as reviewed.
            <% end %>
        <% else %>
            <% if @approval.status != 1 %>
                <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#myModal">
                  Approve
                </button>
            <% else %>
                You have already approved this document.
            <% end %>
            <% if @approval.status != 2 %>
                <input type="submit" class="btn btn-danger btn-lg" value="Decline document" name="decline" />
            <% else %>
                You have already declined this document.
            <% end %>
        <% end %>
    <% end %>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">
              <% if @is_reviewer %>
                  Mark as reviewed
              <% else %>
                  Approve
              <% end %>
            </h4>
          </div>
          <div class="modal-body">
            <% if @is_reviewer %>
                I have reviewed this document.
            <% else %>
                I approve this document.
            <% end %>
            <br />
            <%= form_tag 'save_role_response', method: :put do %>
                <%= hidden_field_tag :id, @document.id %>
                <%= hidden_field_tag :relation_id, @relation_id %>
                <%= label_tag(:email, "Email:") %>
                <%= text_field_tag(:email) %>
                <br />
                <%= label_tag(:password, "Password:") %>
                <%= password_field_tag(:password) %>
                <br />
                <br />
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <% if @is_reviewer %>
                      <input type="submit" class="btn btn-success" value="Mark document as reviewed" name="review" />
                  <% else %>
                      <input type="submit" class="btn btn-success" value="Approve document" name="approve" />
                  <% end %>
                </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

<% end %>

<br />

<div id = "document_type_list">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>
          Revision Number
        </th>
        <th>
          Commit Message
        </th>
        <th>
          Contents
        </th>
      </tr>
    </thead>

    <tbody>
      <% @document_revisions.each do |doc_revision| %>
        <tr>
          <td><%= get_document_version doc_revision %></td>
          <td><%= doc_revision.change_control %></td>
          <td><%= link_to 'View', revision_path(doc_revision.document_id, doc_revision.major_version, doc_revision.minor_version) %></td>
        </tr>
      <% end %>
    </tbody>
  </table> 
</div>
